# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Ignora a pasta do backup do banco de dados por razões de segurança
/supabase-backup

#Ignora o context pra ninguém pegar minhas boas ideias
10-proximos-passos.md
11-ambicao-de-produto.md
20-pendencias-e-dividas.md
30-decisoes-e-licoes.md

#Arquivos temporarios do CLI do Supabase
/supabase/.temp
